  .cardBody {
      font-family: sans-serif;
      margin: 0 auto;
      padding: 25px;
      max-width: 400px;
      min-width: 400px;
      background-color: #dfe6e9;
      text-align: center;
    }
    
    .heading {
      text-align: center;
      font-size: 2em;
      color: black;
      margin: 20px 0 30px;
    }
    
    .card {
      border-radius: 25px;
      position: relative;
      padding: 25px 15px;
      background-color: white;
      margin: 0px;
      box-shadow: 0 2px 5px #ccc;
      text-align: left;
      display:flex;
    }
    
    .top {
      border-radius: 25px 25px 0 0;
      height: 100px;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
    }
    
    .name {
      font-size: 2em;
      color: white;
      display: flex;
      flex: 1;
      margin: 5% 20px 0;
    }
    
    .card img {
      margin: 30px 20px 0 0;
    }
    
    .circle-img {
      border-radius: 50%;
      border: 7px solid #fff;
      width: 120px;
      height: 120px;
    }
    
    .bottom {
      margin-top: 120px;
    }
    
    .info {
      margin: 20px 0;
      color: black;
      font-size: 16px;
    }

    .updateprofile {
      text-align: center;
      border-top : 2px black solid;
      border-bottom :2px black solid;
      margin-top: 5%;
    }
   
